/* *{
  box-sizing: border-box;
  border: 1px solid red;

} */

body {
  background-color: #F8F7F3;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.logo_block {
  height: 100%;
  /* max-width: 100%; */
    
  background: url("../images/background_pic1.svg") top center;
  /* background-repeat: no-repeat; */
  /* background-position: ; */
  background-size: cover;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-around; */
    
  /* position: relative; */

  color: #075778;
  font-weight: 400;
  font-size: 36px;
  text-align: center; 
  letter-spacing: 0.05em;

}

.logo_image {
  margin-top: 15%;
  margin-left:auto;
  margin-right: auto;
}

.mobile_logo {
  display: none;
}

@media (max-width: 661px) {
  .main_logo {
    display: none;
  }

  .mobile_logo {
    margin-left:auto;
    margin-right: auto;
    display: block;
   
  }
  .subtitle_text, .logo_text {
    font-size: 24px;
    line-height: 28px;
  }

  /* {
    font-size: 24px;
    line-height: 28px;

  } */
}

.subtitle_text, .logo_text {
  font-size: 36px;
  line-height: 48px;
  width: 60%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.features {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-around; */
  /* Как можно регулировать расстояние между features и features-picture? */
  align-items: center;
  
  color: #075778;
  font-weight: 400;
  font-size: 24px;

}

/* .features-content {
  margin-left: 10%;
} */

.title {
  max-width: 100%;
  margin-top: 10%;

  /* height: 56px;
  margin-bottom: 106px; */
  
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FF5657;
      
}

.features-text { 
  /* features text и title надо поправить и сделать выравнивание 
  по правому краю в мобильной версии */
  
  width: 100%;
  height: 20%;
  margin-top: 15%;

  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
     
}

.features-picture {
  margin-top: 3%; 

}

.mobile_features {
  display: none;
}

@media (max-width: 661px) {
  .title {
    font-size: 24px;
    line-height: 28px;
    /* margin-top: 25%; */
    /* Нужно сделать маргин только в мобильной версии, в десктопной поднять
     текст немного */
  }
  .features-text {
    font-size: 18px;
    line-height: 21px;
    margin-top: none;
  }
 
  .main_features {
    display: none;
  }

  .mobile_features {
    margin-left:auto;
    margin-right: auto;
    display: block;
    border-image-width: 100%;
   
  }
}

.platforms {

  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  
  color: #075778;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.05em;

}

.platforms_title {
  max-width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  
}

.platforms_text {
  
  /* width: 100%;
  height: 100%; */
  margin-left: 15%;
  margin-right: 15%;

  margin-top: 10%;
  /* top: 1772px; */
  
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
}

.platforms_background {
  margin-top: 3%;
  width: 100%;
  
  background-color: E5E5E5;
  object-fit: cover;
}


@media (max-width: 661px) {
  /* .features-title {
    font-size: 24px;
    line-height: 28px;
  } */
  .platforms-text {
    font-size: 18px;
    line-height: 21px;
  }
}

.user-flow-title {
  margin-left: 12%;
  margin-bottom: 5%;
  max-width: 20%;
/*  
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #FF5657;
  letter-spacing: 0.05em; */
}

.user-flow {
      
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #075778

}
  
.personal-data-text {
  width: 40%;
  order: 0;
}

.personal-data-image {
  object-fit: cover;
  order: 1;
}

.test-image{
  object-fit: cover;
  order: 2;
 
}

.test-text{
  order: 3;
  width: 40%;
  text-align: right;

}

.feedback-text{
  width: 40%;
  order: 4;
}

.feedback-image{
  object-fit: cover;
  order: 5;
}

.statistics-image{
  object-fit: cover;
  order: 6;
}

.statistics-text{
  
  width: 40%;
  /* height: auto; */
  text-align: right;
  order: 7;

}

@media (max-width: 661px) {
  .user-flow { 
    /* margin-left: auto;
    margin-right: auto; */
  
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* align-items: flex-start; */
  

    font-size: 18px;
    line-height: 21px;
  
  }

  .personal-data-text {
    width: 80%;
    order: 0;
  }
  
  .personal-data-image {
    object-fit: cover;
    order: 1;
  }
  
  .test-image{
    object-fit: cover;
    order: 2;
   
  }
  
  .test-text{
    order: 3;
    width: 80%;
    text-align: left;
  
  }
  
  .feedback-text{
    width: 80%;
    order: 4;
  }
  
  .feedback-image{
    width: 80%;
    order: 5;
  }
  
  .statistics-image{
    object-fit: cover;
    order: 6;
  }
  
  .statistics-text{
    
    width: 80%;
    /* height: auto; */
    text-align: left;
    order: 7;
  
  }
}


.solution {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  /* justify-content: space-around;
  align-items: center; */
/* 
  max-width: 1152px;
  height: 489px;

  margin-left: auto;
  margin-right: auto;
  margin-top: auto; */
}

.solution_title{
  
  max-width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;

}

.solution_text {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;

  /* font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #075778; */
}

.solution-technologies {

  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;

  /* font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #075778; */

}

.solution-technologies span {
  color: #FF5657;
}



.challenges {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  
  /* max-width: 1152px;
  height: auto; */

}

.challenges_title {
  max-width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;

  /* font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FF5657; */
}

.text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #075778;
}

.challenges-text {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
 

}
@media (max-width: 661px) {
  .text {
    font-size: 18px;
    line-height: 21px;
    
  }
}

.main_screens {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  
  align-content: center;
  /* background-size: cover; */

}

.main_screens_mobile {
  display: none;
}

@media (max-width: 661px) {
  .main_screens {
    display: none;
  }
  .main_screens_mobile {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}


.development {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: space-around;
  align-items: center; */
/* 
  max-width: 1152px; */
  /* height: auto; */

}

.development_title {
  max-width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

.development_text {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
 
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #075778;
}

.development_image {
  margin-top: 5%;
  max-width: 100%;
}

.development_image_mob {
  display: none;
}

@media (max-width: 661px) {
  .development_image {
    display: none;
  }
  .development_image_mob {
    display: block;
    max-width: 100%;
    
    margin-top: 5%
  }

}

.review {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  
  justify-content: center;  */
/* 
  max-width: 1152px;
  height: auto; */
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

}

.review_title {
  /* align-content: flex-start;
  display: flex; */
  max-width: 70%;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%
  max-width: 100%;
  /* width: 1152px;
  height: 56px; */

}

.review_name {
  max-width: 70%;
  margin-top: 7%;
  margin-left: 15%;
  margin-right: 15%
  /* display: flex;
  align-content: flex-start;

  width: 1152px;
  height: 64px; */
 
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;

  color: #075778;
}


.square {
  max-width: 70%;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%
  /* max-width: 1152px;
  height: 532px; */
   
  background-color: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

}

.review_text {

  /* max-width: 958px;
  height: auto;
   */
  padding: 5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  align-self: auto;
  
  letter-spacing: 0.05em;
  color: #075778;
}


