body, input, button, span, span::before, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .form {
    font-family: Arial, sans-serif;
    height: 90vh;
    display: flex;
  }
  
  form {
    display: flex;
    margin: auto;
    align-items: flex-start;
  }
  
  .input {
    position: relative;
  }
  
  ul {
    height: 200px;
    position: absolute;
    bottom: -220px;
    left: 0;
    width: 50vw;
    display: none;
  }
  
  ul li {
    list-style-type: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  ul li:hover {
    background-color: #fceba9;
  }
  
  input[type="text"] {
    width: 50vw;
    height: 46px;
    border: 2px solid #ffdb4d;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
  }
  
  button {
    overflow: hidden;
    display: block;
    text-align: center;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    outline: none;
    background: 0 0;
  }
  
  span {
    width: 95px;
    height: 46px;
    margin: 0 13px 0 0;
    position: relative;
    display: block;
    border: 0 solid #ffdb4d;
    background-color: #ffdb4d;
    padding: 12px;
  }
  
  span::before {
    border-width: 31px 0 28px 14px;
    right: -12px;
    top: -8px;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-color: rgba(255, 219, 76, 0);
    border-left-color: inherit;
  }
  
  .logo {
    width: 60px;
    height: 27px;
    background-image: url(https://pictures.s3.yandex.net/ya_grey.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
    cursor: pointer;
    transition: background .25s ease;
  }
  
  .logo:hover {
    background-image: url(https://pictures.s3.yandex.net/ya.svg)
  }