@charset "utf-8";

/* .portfolio__case
{
    background-color: rgb(255,255,255);
} */

.swiper-custom {
    top: 0;
}

.swiper-custom {
    position: relative;
    top: -56px;
    background-color: transparent !important;
}