<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweethome Timesheets</title>
    <link rel="stylesheet" href="dist/main.css">
    <!-- <link rel="stylesheet" href="./src/scss/bootstrap.min.css"> -->
</head>

<body>
    <div class="main">
        <section class="promo-block container-fluid">
            <div class="container">
                <div class="row">

                    <div class="promo-block__logo text-center col-12">
                        <img src="./images/SHT-Logo.png " alt="logo ">

                    </div>
                    <div class="promo-block__text text-center col-12">
                        Сервис для учета рабочего времени сотрудников медицинских организаций США.
                    </div>


                </div>
            </div>

        </section>
        <div class="promo-block__img col-12">
            <img src="./images/promo-img.png" alt="" class="">
        </div>


        <section class="customer-block container">
            <div class="row">
                <div class="customer-block__title case-title col-12">
                    Заказчик
                </div>

                <div class="customer-block__text col-12">
                    Sweet Home Healthcare - агентство по оказанию услуг в системе здравоохранения, в частности по найму медперсонала для нуждающихся в этом людей (почасовое или круглосуточное обеспечение ухода за больными). Агентство было основано в 2012 году с целью улучшения
                    качества жизни больных и инвалидов в Пенсильвании. Сегодня Sweet Home Healthcare работает с более чем 2000 клиентов и лицами, обеспечивающими уход. Агентство обслуживает более 15 округов с офисами в Филадельфии, Скрантоне и Гаррисберге.
                    Уорен Прескот – представитель заказчика, менеджер проекта. Уорен руководитель агентства Imagination Digital, которое специализируется на доведении творческих идей и концепций до реальных решений для мобильных приложений и цифрового
                    маркетинга.
                </div>
            </div>
        </section>

        <section class="objective-block container">
            <div class="row col-12">
                <div class="objective-block__text col-xl-6">
                    <div class="objective-block__task row">
                        <div class="objective-block__task-title case-title сol-sm-6">
                            задача
                        </div>
                        <div class="objective-block__task-text сol-sm-6">
                            Необходимо было оцифровать процесс учёта времени работы медицинского персонала, ухаживающего за пациентами, неспособными обслуживать себя самостоятельно.

                        </div>
                    </div>
                    <div class="objective-block__problem row">
                        <div class="objective-block__problem-title case-title  сol-sm-6">
                            проблема
                        </div>
                        <div class="objective-block__problem-text сol-sm-6">
                            К моменту заказа проекта учёт в компаниях, занимающихся этим сервисом, вёлся, в основном, в бумажном виде, что заметно замедляло и усложняло процесс работы.

                        </div>
                    </div>

                </div>
                <div class="objective-block__img col-xl-6">
                    <div class="сol-sm-6">
                        <img src="./images/login-screen.png" alt="login-screen" class="img">
                    </div>
                </div>

            </div>
        </section>


        <section class="solution-block container">
            <div class="row">

                <div class="solution-block__title case-title col-12">
                    Решение
                </div>

                <div class="solution-block__text col-12">
                    Наше решение – система, фиксирующая время работы медицинского персонала и виды услуг, оказываемых пациенту. Полученные данные сверяются с недельным планом, по нескольким параметрам ведётся систематизация и анализ. Учитывая бизнес-логику, доступ к информации
                    предоставляется как медицинской организации, так и страховщику, с которым заключён договор у пациента. Предложенная нами система учёта времени по задаче заказчика доступна в браузере и в мобильных приложениях на устройствах iOS и Android.
                </div>
            </div>
        </section>

        <section class="challenges-block container">
            <div class="row">
                <div class="challenges-block__title case-title col-12">
                    сложности
                </div>

                <div class="challenges-block__text col-12">
                    По мнению менеджера проекта Сергея Вохминцева, самой интересной частью проекта стала разработка бизнес-логики. Российская и американская системы здравоохранения отличаются, и было не просто погрузиться в логику оказания услуг в этой сфере в США. Однако,
                    разобравшись в вопросе, команда подробно описала весь процесс предоставления услуг и контроля их качества, разделила его на этапы. Также были выделены 4 пользовательские роли с различными правами доступа.
                </div>

            </div>
        </section>

        <div class="challenges__img col-12">
            <img src="./images/challenges_screens.png" alt="" class="">
        </div>


        <section class="container">
            <div class="features-block row">
                <div class="features-block__title case-title col-12">
                    функционал
                </div>

                <div class="features-block__text col-12">
                    <p>
                        Учитывая количество платформ, на которых было необходимо реализовать данный проект, мы использовали в разработке гибридные технологии. Результат – всем функционалом удобно пользоваться и со смартфонов, и с планшетов, и со стационарных компьютеров.
                    </p>
                    <p>
                        Разработанная система позволяет досконально контролировать процесс оказания услуг пациентам на всех этапах, начиная с оценки качества и соответствия объёма работы недельному плану работника, до сбора общей информации по всей компании. Полученные данные
                        импортируется в Google-таблицы, и уже в них происходит анализ по необходимым заказчику параметрам.
                    </p>
                    <p>
                        Работники в приложении могут фиксировать время обслуживания, потраченное санитарами или медиками, во время ухода за пациентами в специальном электронном бланке. Пациент может подписью заверить бланк с указанным временем. С помощью приложения происходит
                        отправка этих бланков руководству.
                    </p>
                    <p>
                        Административный персонал в приложении проверяет правильность заполнения бланков, производит экспорт в сводную таблицу, поручает медикам пациентов для оказания услуг, осуществляет управление штатом и работой с пациентами, экспортирует и производит печать
                        заполненных бланков и сводных таблиц, если это необходимо.
                    </p>
                </div>

                <div class="col-12">
                    Система Sweet Home Time Sheet внедрена уже в нескольких американских компаниях. Получаемые нашим заказчиком отзывы подтверждают, что система повышает управляемость компании и заметно снижает время сбора и анализа данных.
                </div>
            </div>
        </section>

        <section class="store-icons row">
            <img src="/images/google_play.png" alt="image">
            <img src="/images/app_store.png" alt="image">
        </section>

    </div>

    <script type="text/javascript" src="/dist/bundle.js"></script>
    <!-- <script src="./js/index.js"></script> -->
</body>

</html>