    * {
        margin: 0;
        padding: 0;
    }
    
    body,
    html {
        width: 100%;
        height: 100%;
    }
    
    body {
        background-color: #000000;
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .glitch {
            color: #ffffff;
            font: {
                family: "Montserrat", sans-serif;
                weight: 600;
                size: 100px;
            }
            position: relative;
            padding: 30px;
            &:before,
            &:after {
                content: "Citronium";
                color: #ffffff;
                position: absolute;
                top: 0;
                overflow: hidden;
                padding: 30px;
            }
            &:before {
                left: 3px;
                text-shadow: 4px 0 yellow;
                animation: glitch-before 2s linear 0s infinite alternate;
                -webkit-animation: glitch-before 2s linear 0s infinite alternate;
            }
            &:after {
                left: -3px;
                text-shadow: -3px 0 blue;
                animation: glitch-before 2s linear 0s infinite alternate;
                -webkit-animation: glitch-before 2s linear 0s infinite alternate;
            }
        }
    }
    
    @keyframes glitch-before {
        $steps: 20;
        @for $i from 0 through $steps {
            #{percentage($i*(1/$steps))} {
                clip: rect(random(150) + px, 560px, random(150) + px, 30px);
            }
        }
    }
    
    @keyframes glitch-after {
        $steps: 20;
        @for $i from 0 through $steps {
            #{percentage($i*(1/$steps))} {
                clip: react (random(150) + px, 560px, random(150) + px, 30px);
            }
        }
    }